<div class="goalTreeLeftControlOuterWrapper">
	<div class="goalTreeControlInnerWrapper">
		<div class="controlButton search"></div>
		<div class="controlButton panReset"></div>
		<div class="controlButton zoomIn"></div>
		<div class="controlButton zoomReset"></div>
		<div class="controlButton zoomOut"></div>
		<div class="controlButton help"></div>
		<div class="controlButton close"></div>
	</div>
</div>
<div class="goalTreeTopOuterControlWrapper hidden">
	<div style="float:left; padding:10px;"></div>
	<select class="goalSelect"></select>
</div>