<div class="resource goal">
	<input class="goalID" type="hidden" data-value="goalURI"></input>
	<input class="goalStatusCode" type="hidden"  data-value="statusCode"></input>
	
	<div class="mediumTitle goalPath" data-content="goalPath">-</div>
	<div class="goalStatusIcon"></div>	
	<h2>
		<img class="icon" src="image/nobody.png">
		<div class="fukidashi" data-content="title"></div>
	</h2>
	<div>
		<div class="leader" data-content="creatorName" data-link-wrap="creatorURI"></div>
	</div>
	<div>
		<span class="input" data-content="desiredDate"></span>
		<span class="input" data-content="requiredDate"></span>
		<span class="input" data-content="createdDate"></span>
	</div>
	<!-- <div>
		<button class="ui-button ui-button-small openGoalInfo" data-localize="Act_GetInfo">Details</button>
	</div>
	 -->
	<!-- <div class="subgoalPlaceHolder">
		<button class="ui-button ui-button-small">Subgoals</button>
		<div class="clear"></div>
	</div> -->
	<div class="clear"></div>
</div>