<div class="resource goal">
	<input class="goalID" type="hidden" data-value="goalURI"></input>
	<input class="goalStatusCode" type="hidden"  data-value="statusCode"></input>
	
	<div class="smallTitle goalPath" data-content="goalPath"></div>
	<div class="goalStatusIcon"></div>	
	<h2>
		<div class="wisherImageWrapper" data-template-bind='[{"attribute": "data-target-goal-uri", "value": "goalURI"}]'>
			<img class="icon userImage goalWisherImage" src="image/nobody.png" alt="Goal wisher" data-src="imageURI">
		</div>
		<div class="fukidashi textHolder" data-content="title"></div>
	</h2>
	<div>
		<div class="leader" data-content="creatorName" data-link-wrap="creatorURI"></div>
	</div>
	<div>
		<span class="input" data-content="desiredDate"></span>
		<span class="input" data-content="requiredDate"></span>
		<span class="input" data-content="createdDate"></span>
	</div>
	<div class="deleteGoalWrapper">
		<button class="ui-button ui-button-small deleteGoal" data-template-bind='[{"attribute": "data-target-goal-uri", "value": "goalURI"}, {"attribute": "creator-uri", "value": "creatorURI"}]' data-localize="Act_Delete">Delete</button>
	</div>
	<button class="ui-button ui-button-small editGoal" data-template-bind='[{"attribute": "data-target-goal-uri", "value": "goalURI"}]' data-localize="Act_Edit">Edit</button>
	<button class="ui-button ui-button-small openGoalEdit addSubgoal" data-localize="Act_AddSubgoal" data-template-bind='[{"attribute": "data-target-goal-uri", "value": "goalURI"},{"attribute": "data-target-goal-title", "value": "title"},{"attribute": "data-target-goal-location-uri", "value": "locationURI"},{"attribute": "data-target-goal-wisher-uri", "value": "wisherURI"},{"attribute": "data-target-goal-wisher-name", "value": "wisherName"} ]'>Add subgoal</button>
	<!-- <div>
		<button class="ui-button ui-button-small openGoalInfo" data-localize="Act_GetInfo">Details</button>
	</div>
	 -->
	<!-- <div class="subgoalPlaceHolder">
		<button class="ui-button ui-button-small">Subgoals</button>
		<div class="clear"></div>
	</div> -->
	<div class="clear"></div>
</div>