<div id="goalDetailWrapper">
	<input type="hidden" id="goalDetailURIHolder" class="goalDetailURI" data-value="goalURI" data-content="goalURI"></input>
	<input type="hidden" class="goalStatusCode" data-content="statusCode" />
	<div class="detailDataArea">
		<div style="width:455px; float:left">
		<table class="detail">
			<thead></thead>
			<tbody>
				<tr>
					<td class="label"><label data-localize="Title">Title</label></td>
					<td><span data-content="title"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="Status">Status</label></td>
					<td><img class="detailIcon" data-src="statusImage"/><span data-content="status"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="Description">Description</label></td>
					<td><span data-content="description"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="ParentGoal">Parent goal</label></td>
					<td><span  data-link-wrap-disabled="parentGoalURI" data-content="parentGoalTitle" class="parentGoalLink selectHand"  data-template-bind='[{"attribute": "data-target-goal-uri", "value": "parentGoalURI"}]'></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="Wisher">Wisher</label></td>
					<td><img class="detailIcon" data-src="wisherImageURI"/><span data-link="wisherURI" data-content="wisherName" ></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="CreatedBy">Creator</label></td>
					<td><img class="detailIcon" data-src="creatorImage"/><span data-link="creatorURI" data-content="creatorName" ></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="CreatedDate">Created date</label></td>
					<td><span data-content="createdDate"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="DesiredDate">Desired date</label></td>
					<td><span data-content="desiredDate"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="RequiredDate">Required date</label></td>
					<td><span data-content="requiredDate"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="CompletedDate">Completed date</label></td>
					<td><span data-content="completedDate"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="Participants">Participants</label></td>
					<td><div id="goalParticipantListBody"></div></td>
				</tr>
				<tr>
				
				</tr>
			</tbody>
		</table>
		</div>
	<div class="detailMapWrapper">
		<h5 id="goalDetailMapTitle"></h5>
		<div id="goal_detail-map-canvas" class="detailMap" style="float:left;clear:left;"/>
	</div>
	<div id="goal_detail_treeHolder" class="goaltreeHolder" style="float:left; display: none;"/>
	<div class="detailCommandGroup">
		<!--<button class="ui-button ui-button-small openGoalEdit" data-localize="Act_AddSubgoal" data-currentGoalID="goalDetailURIHolder">Add subgoal</button> -->
		<button id="detailFindSimilarGoals" class="ui-button ui-button-small findGoals" data-localize="Act_FindSimilarGoals" data-currentGoalID="goalDetailURIHolder">Similar goals</button>
		<button class="ui-button ui-button-small addCollaborator" data-localize="Act_AddAsCollaborator" data-currentGoalID="goalDetailURIHolder">Participate</button>
	</div>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<hr />
	<div id="goalSubgoalWrapper" class="detailList" style="display: none;">
		<div class="listHeader">
			<span data-localize="SubgoalsHeader">Subgoals</span>
		</div>
		<div id="subgoalspager" class="pager">
			<button id="subgoalsPagerPrev" class="pagerPrev ui-button ui-button-small"  data-localize="Act_PrevPage" disabled>Prev</button>
			<button id="subgoalsPagerNext" class="pagerNext ui-button ui-button-small" data-localize="Act_NextPage" disabled>Next</button>
		</div>
			<div class="clear"></div>
		<div id="subgoalsListBody"></div>
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	localizeUI();
	$("#subgoalsPagerNext").click(function(){
		displaySubgoals(goalDetails.subgoalPage + 1);
	});
$("#subgoalsPagerPrev").click(function(){
	displaySubgoals(goalDetails.subgoalPage - 1);	
	});
});
</script>