<div id="issueDetailWrapper">
	<input type="hidden" id="issueDetailURIHolder" class="issueDetailURI" data-value="issueURI"></input>
	<input type="hidden" id="issueLocationURIHolder" data-value="locationURI" />
	<div class="detailDataArea">
	<div style="width:455px; float:left;">
		<table class="detail">
			<thead></thead>
			<tbody>
				<tr>
					<td class="label"><label data-localize="Title">Title</label>
					<td><span data-content="title"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="Description">Description</label>
					<td><span data-content="description"></span></td>
				</tr>
				<!-- <tr>
					<td class="label"><label data-localize="Wisher">Wisher</label></td>
					<td><img class="detailIcon" data-src="wisherImageURI"/><span data-link="wisherURI" data-content="wisherName" ></span></td>
				</tr> -->
				<tr>
					<td class="label"><label data-localize="CreatedBy">Creator</label>
					<td><img class="detailIcon" data-src="creatorImageURI"/><span data-link="creatorURI" data-content="creatorName" ></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="CreatedDate">Created date</label>
					<td><span data-content="createdDate"></span></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="Goal">Solution</label>
					<td><div id="issueSolutionDataholder"></div></td>
				</tr>
				<tr>
					<td class="label"><label data-localize="Reference">References</label>
					<td><div id="issueReferencesDataholder"></div></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="detailMapWrapper" style="padding-left:20px">
			<h5 id="issueDetailMapTitle"></h5>
			<div id="issue_detail-map-canvas" style="margin-left20px;" class="detailMap"/>
		</div>
	<div class="detailCommandGroup">
		<!-- <button class="ui-button ui-button-small addIssueAsGoal" data-localize="Act_AddAsGoal" data-currentGoalID="issueDetailURIHolder">Add goal</button>  
		<button class="ui-button ui-button-small" id="issueToGoal" data-localize="Act_AddAsGoal">Add as a goal</button>-->
	</div>
	<div class="clear"></div>
	</div>
	<hr />
	<div class="clear"></div>
	<!-- <div id="relatedGoalWrapper" class="detailList">
		<div class="listHeader">
			<span data-localize="SubgoalsHeader">Subgoals</span>
		</div>
		<div id="relatedGoalspager">
			<button id="relatedGoalsPagerPrev" class="pagerPrev ui-button ui-button-small" data-localize="Act_PrevPage" disabled>Prev</button>
			<button id="relatedGoalsPagerNext" class="pagerNext ui-button ui-button-small" data-localize="Act_NextPage" disabled>Next</button>
			<div class="clear"></div>
		</div>
		<div id="relatedGoalsListBody"></div>
	</div> -->
	<div class="clear"></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	localizeUI();
	/*$("#relatedGoalsPagerNext").click(function(){
		displaySubgoals(goalDetails.subgoalPage + 1);
	});
	$("#relatedGoalsPagerPrev").click(function(){
	displaySubgoals(goalDetails.subgoalPage - 1);	
	});*/
});
</script>