<div class="filter_section">
	<div class="filter_group">
		<div class="filter">
			<label data-localize="StartDate">Start date</label> <input type="text" name="startDate"
				id="startDate" />
		</div>
		<div class="filter">
			<label data-localize="EndDate">End date</label> <input type="text" name="endDate"
				id="endDate" />
		</div>
	</div>
	<div class="filter_group">
		<div class="filter">
			<label data-localize="CreatedBy">Created by</label> <input type="text" id="createdBy" />
		</div>
		<div class="filter">
			<label data-localize="Keyword">Keyword</label> <input type="text" id="keyword" />
		</div>
		<div class="filter">
			<label data-localize="Location">Keyword</label> <input type="text" id="location" />
		</div>
	</div>
	<div class="filter_group">
		<div class="filter">
			<label data-localize="ResultLimit">Result limit</label> <input id="resultLimit" type="text"
				value="25" />
		</div>
	</div>
	<div class="clear"></div>
	<div>
		<button id="issueFilterSubmit" class="ui-button" data-localize="Act_Search">Search</button>
		<button id="createIssue" class="ui-button" data-localize="Act_CreateIssue">Create new issue</button>
	</div>
</div>