<div class="resource issue">
	<input class="issueID" type="hidden" data-value="issueURI"></input>	
	<h2>
		<img class="icon" src="image/nobody.png" data-src="imageURI">
		<div class="fukidashi textHolder" data-content="title"></div>
	</h2>
	<div class="text textHolder" data-content="description"></div>
	<div>
		<span class="leader" data-content="creatorName" data-link-wrap="creatorURI"></span>
	</div>
	<div>
		<span class="input" data-content="createdDate"></span>
	</div>
	<button class="ui-button ui-button-small deleteIssue" data-template-bind='[{"attribute": "data-target-issue-uri", "value": "issueURI"}]' data-localize="Act_Delete">Delete</button>
	<button class="ui-button ui-button-small editIssue" data-template-bind='[{"attribute": "data-target-issue-uri", "value": "issueURI"}]' data-localize="Act_Edit">Edit</button>
	<button class="ui-button ui-button-small issueToGoal" data-template-bind='[{"attribute": "data-target-goal-uri", "value": "issueURI"},{"attribute": "data-target-goal-title", "value": "title"},{"attribute": "data-target-goal-location", "value": "locationURI"} ]' data-localize="Act_AddAsGoal">Add as a goal</button>
	<!--
	 <div class="subgoalPlaceHolder">
		<button class="ui-button ui-button-small">Subgoals</button>
		<div class="clear"></div>
	</div> -->
	<div class="clear"></div>
</div>
<!-- 
<div class="resource issue">
	<input class="issueID" type="hidden" data-value="issueURI"></input>
	<h2 data-content="title">Title</h2>
	<div class="issueIcon"></div>	
	<p data-content="description"></p>
	<div class="leader" data-content="creatorName" data-link-wrap="creatorURI"></div>
	<button class="ui-button ui-button-small openIssueInfo" data-localize="Act_GetInfo">Details</button>
	<div class="clear"></div>
</div>

 -->