<div class="subResource" data-template-bind='[{"attribute": "data-target-goal-uri", "value": "goalDetailURI"}]'>
	<input type="hidden" class="goalDetailURI" data-content="url" />
	<div>
	
		<img class="icon" src="image/nobody.png" data-src="imageURI"><span
			class="subtitle truncate" data-content="title"></span>
		<div class="detailBottomPart">
			 </div>
		<!--<div class="status InProgress">
			 <div class="statusLeft">
				<div class="icon InProgress"></div>
				<span class="statusHeader">In progress</span>
			</div>
			<div class="statusRight">
				<table>
					<thead></thead>
					<tbody>
						<tr>
							<td></td>
							<td data-content="desiredDate"></td>
						</tr>
						<tr>
							<td><label>Required date</label></td>
							<td data-content="requiredDate"></td>
						</tr>
						<tr>
							<td><label>Completed date</label></td>
							<td data-content="completedDate"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div> -->
		<div class="leader" data-content="creatorName"></div>
		<div class="leader" data-content="created"></div>
				<div class="detailDateWrapper">
					<div><label data-localize="DesiredDate">Desired date: </label><span data-content="desiredDate"></span></div>
					<div><label data-localize="RequiredDate">Required date: </label><span  data-content="requiredDate"></span></div>
					<div><label data-localize="CompletedDate">Completed date: </label><span  data-content="completedDate"></span></div>
				</div>
	</div>
	<div class="clear"></div>
</div>
